@{
    ViewBag.Title = "Home Page";
}

<!-- First Container -->
<div class="container-fluid text-center">
    <h2>Are You Still Reading?</h2>
    <img src="~/Images/page_turner.jpg" class="img-responsive" style="display:inline" />
    <br />
    <h3>Turn the Page!</h3>
    <br />
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h2>Each Page Counts</h2>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><a href="https://www.waterstones.com" class="btn btn-primary btn-lg">Waterstones</a></p>
    <br />
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h2>Discover New Worlds!</h2>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
            <img src="~/Images/books_1.png" class="img-responsive" style="width:100%" alt="Image" />
        </div>
        <div class="col-sm-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
            <img src="~/Images/books_2.png" class="img-responsive" style="width:100%" alt="Image" />
        </div>
        <div class="col-sm-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
            <img src="~/Images/books_3.png" class="img-responsive" style="width:100%" alt="Image" />
        </div>
    </div>
</div>