
@{
    ViewBag.Title = "Room_2";
}

<h2>Room 2</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">This is the meeting room 2. </div>
        <div class="col-lg-8">
            <img src="~/Images/room_2.jpg" class="img-circle img-responsive" />
        </div>
    </div>
</div>